.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 100px);
  }

  @media only screen and (max-width: 720px) {
    width: calc(100% - 60px);
  }
}

.aside {
  width: 340px;
  position: absolute;
  top: 0;
  left: 0;

  @media only screen and (max-width: 1200px) {
    width: 280px;
  }

  @media only screen and (max-width: 960px) {
    width: 100%;
    position: static;
  }
}

.fix {
  position: fixed;

  @media only screen and (max-width: 960px) {
    position: static;
  }
}

.main {
  width: 800px;
  margin-left: 340px;
  min-height: calc(100vh - 50px);

  @media only screen and (max-width: 1200px) {
    margin-left: 280px;
    width: calc(100% - 280px);
  }

  @media only screen and (max-width: 960px) {
    width: 100%;
    margin: 0;
    min-height: calc(100vh - 50px - 120px);
  }
}
