.aside {
  padding: 30px 0;
  position: relative;

  @media only screen and (max-width: 960px) {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 720px) {
    justify-content: space-between;
    padding: 15px 0;
    width: calc(100% - 60px);
    margin: 0 auto;
    border-bottom: 1px solid #666;
    flex-wrap: wrap;
  }
}

.logo {
  width: 60px;
  height: 60px;

  & > img {
    width: 100%;
  }

  @media only screen and (max-width: 720px) {
    display: none;
  }
}

.mobileLogo {
  display: none;

  @media only screen and (max-width: 720px) {
    display: block;
    width: 140px;
    height: 25px;
  }

  & > img {
    width: 100%;
  }
}

.nav {
  margin: 90px 0 0;

  @media only screen and (max-width: 960px) {
    margin: 0 0 0 30px;
  }

  @media only screen and (max-width: 720px) {
    display: none;
  }
}

.mobileBurger {
  display: none;

  & > button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }

  @media only screen and (max-width: 720px) {
    display: block;
    width: calc(100% - 140px);
    text-align: right;
  }
}

.dropdown {
  display: none;

  @media only screen and (max-width: 720px) {
    display: block;
    padding: 25px 0 10px;
  }
}

.link {
  display: block;
  position: relative;
  margin: 15px 0;
  color: #ccc;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  transition: 0.1s linear all;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #666;
  }

  @media only screen and (max-width: 960px) {
    display: inline-block;
    margin: 0 12px;
  }

  @media only screen and (max-width: 720px) {
    font-size: 18px;
    font-weight: normal;
    color: #ccc;
    display: block;
    margin: 10px 0;
  }
}

.activeLink {
  @media only screen and (max-width: 720px) {
    color: #5fabe9;
  }

  &::before {
    content: '';
    left: -10px;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #666;

    @media only screen and (max-width: 960px) {
      height: 2px;
      width: 100%;
      left: 0;
      bottom: -10px;
    }

    @media only screen and (max-width: 720px) {
      display: none;
    }
  }
}
